/*Efecto imagen gris a color*/
#equipo .item img {
    filter: grayscale(100%);
    opacity: 0.8;
}

#equipo .item:hover img {
    filter: brightness(100%) saturate(140%);
    opacity: 1;
}

#equipo .item:hover {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 1%,rgb(255, 255, 255));
}
